{% extends "empty_page.html" %}
{% from "macro.html" import show_book %}

{% block content %}
<h1 class = "all_books_title">Our bookstore</h1>
<div class="container">
    <table class="table">
        <tr>
            <th>Modifier</th>
            <th>Supprimer</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Editeur</th>
        </tr>
        {% for book in books %}
        {{ show_book(book.id, book.name, book.author, book.editor) }}
        {% endfor %}
    </table> 
</div>


<div class="all_books_container">
    <div class="nb_books"> 
        Nombre de livre : {{ booknumber }}
    </div>
    
    <div>
        <a class="btn btn-outline-success mx-4" id="add_book_btn" href="/books/new">Ajouter un nouveau livre</a>
    </div>
</div>

{% endblock %}
