{% extends "empty_page.html" %}
{% block content %}
<form action="/books/update/{{id}}" method="post">

    <div class="form-group">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="{{name}}"><br>
    </div>
    <div>
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author" value="{{author}}"><br>
    </div>
    <div>
        <label for="editor">Editor:</label><br>
        <input type="text" id="editor" name="editor" value="{{editor}}"><br>
    </div>
    <div>
        <input class="btn btn-outline-success mx-4" type="submit" value="Confirm">
    </div>
</form>

<div>
    <a class="btn btn-outline-dark mx-2" href="/books/all">Retour</a>
</div>

{% endblock %}
